<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership</title>
  </head>
  <body>
    <h1>enter car information</h1>

    <label for="makeModel">Enter The Make and Model</label>
    <input type="text" name="makeModel" >


    <label for="Price">Enter The Price</label>
    <input type="int" name="Price" >


    <label for="Miles">Enter The Miles</label>
    <input type="int" name="Miles" >


    <label for="aboutCar">Enter information on car</label>
    <input type="text" name="aboutCar" >

  </body>
</html>
